---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from the `minima` theme.
@import "minima";

// See _sass/minima.scss in minima's gem for overridable values

.post-content{
    text-indent: 2em;
    img {  // Reverse the indent. ...Newbie mistake of me? Probably
        position: relative;
        left: -2em;
    }
}

.link-icon {
    width: 40px;
    height: 40px;
}
