---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from the `minima` theme.
@import "minima";

// See _sass/minima.scss in minima's gem for overridable values

//.post-content[itemprop="articleBody"]{  // Maybe save the indent for a long-form article. Type?
//    text-indent: 2em;
//    img {  // Reverse the indent. ...Newbie mistake of me? Probably
//        position: relative;
//        left: -2em;
//    }
//}

.project-header {
    margin-bottom: 5px;
}

.project-header > a > img {  // link icons (eg. GitHub mark)
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

.project-header > a + a > img { // display further icons next to each other
    margin-left: 3px;
}
